[2016-09-26 15:06] monkindey opened #2 "how the opm handle the dependencies"
eg:

module **A** depend module **B**
module **C** depend module **B**

when i download the **A** and **C**,
will download **B** twice?

[2016-09-26 15:08] agentzh commented on #2
@monkindey Please do not use Chinese here. This place is considered English only.

Regarding your question, no, there will be no duplicate installation of B since when C is being installed, opm would find that B is already installed (because A has been installed).

[2016-09-26 15:26] monkindey commented on #2
Thank you for your prompt reply

Sorry, because i press the **Enter** carelessly, so submit the Chinese version.

so I think how the opm handle the dependencies is to make the dependencies in a **flat** way instead of in a **nested** way.

Can I brew install the opm ?

[2016-09-26 17:32] agentzh commented on #2
@monkindey If you want to install different versions of the same package, then you should specify the `--cwd` option and install packages in the current working directory. This should be the "nested" way you are saying I suppose.

We may provide OpenResty's own homebrew repository sometime in the future (or just hijack the existing "openresty" brew maintained by some 3rd-party people if it's feasi

[2016-09-27 04:32] splitice opened #3 "Byte code compilation"
Looks good, I'd love our package management processes to get more mature. Many moons ago we developed a basic packaging system for use internally. Nothing at even this level, just something basic which we could use with ansible to version and deploy our code.

One thing we did is integrate bytecode compilation into our process. Effectively the way we did it was with a package step, that similarly

[2016-09-27 15:44] agentzh commented on #3
@splitice Bytecode is not very portable (for example, LuaJIT 2.0, 2.1 and standard Lua 5.1 all use incompatible bytecode formats). So it does not make sense to do bytecode compilation in the packaging phase for opm (well, it may make sense to your own packaging toolchain since you usually just stick with a particular Lua/LuaJIT version in your own environment).

For `opm`, I think it only makes se

[2016-09-27 15:59] agentzh commented on #2
Consider it resolved.

[2016-09-27 15:59] #2 closed

[2016-09-28 03:53] splitice commented on #3
I 100% agree, its an installation step for us. I probably didn't make it very clear.

The main reasoning behind bytecode compilation for us is to accelerate webserver startup & reload.

For us, its just an ansible script with options (lua_deploy_bytecode: True). But I imagine perhaps something like:

[code]

The only thing then required is one final step to bytecode compile.

[2016-09-28 06:41] agentzh commented on #3
@splitice Generate the byte code files as `*.lua` or `*.luac`? You didn't address the 2 problems in my previous comment, BTW.

[2016-09-28 06:49] splitice commented on #3
More information.

1. If its an optional flag, perhaps it becomes the users responsibility to worry about platform upgrades? Thats my view, if your mature enough to need / want to use bytecode, your mature enough to know the effects and limitations.

2. We are using *.luac, the *.lua's of compiled files are kept on the server (currently) however are not at all in the search path.

Our structure is

[2016-09-28 06:54] agentzh commented on #3
@splitice Seems like it is not worth adding into `opm`. It could be a separate tool that traverse the directory tree and compiles all the `*.lua` to `*.luac`, including Lua libraries already installed (like those shipped with OpenResty by default).

[2016-09-28 06:56] agentzh commented on #3
@splitice Or maybe we could add a bytecode option to OpenResty's build system and OpenResty installs all its standard Lua modules as `*.luac` by default. The `opm` tool can honor that setting. And OpenResty also always uses `*.luac` in its default package search paths.

[2016-09-28 06:57] agentzh commented on #3
@splitice The LuaJIT bytecode mode can be an attribute of the user's OpenResty installation, which looks like the cleanest way.

[2016-09-28 07:00] splitice commented on #3
I agree with the last two.

FYI its probably only a small addition either way, just seems like something useful.

[2016-09-28 07:02] agentzh commented on #3
@splitice Yes, the implementation won't be difficult at all. Just a design issue. Pull requests welcome :)

[2016-09-28 07:03] splitice opened #4 "Additional OPM repositiories"
- Have you put any thought into secondary OPM repositories?
- Perhaps private ones?
- Could 2 OPM repositories be used at once, or would one need to act as a proxy for the public one (not a bad idea anyway).

[2016-09-28 07:07] splitice commented on #3
Hehe, I think I've heard that before.

[2016-09-28 09:02] bungle opened #5 "Support for Creative Commons Licenses"
Maybe we should have support for:
https://creativecommons.org/licenses/

in

https://github.com/openresty/opm#license

(I suppose in the end we might supply things like static assets with this as well, like images, sounds, videos, and maybe stylesheets).

[2016-09-28 09:24] bungle opened #6 "Better documentation on requires for luajit, nginx, openresty, ngx_http_module"
#The requires:
https://github.com/openresty/opm#requires

lists `luajit`, `nginx`, openresty`, and `ngx_http_module` as special dependency names, but doesn't clearly define their meaning. Also it is strange to have `ngx_http_module`, but not to have basically all the other modules? Is `ngx_http_module` a reference to this: https://github.com/openresty/lua-nginx-module (what about the stream module

[2016-09-28 09:28] bungle opened #7 "What does it mean to extract the version number of the current package?"
`main_module`is documented as:
https://github.com/openresty/opm#main_module

What does it mean that `The opm build command reads the "main module" file to extract the version number of the current package`?

What does it actually do?

Does it `require` the main Lua module, and tries to read some fields out of it? What are these fields?

[2016-09-28 09:31] bungle opened #8 "Additional root files for document collection"
Should the list that currently has these:

* `README.md`, `README.markdown`, or `README.pod`
* `COPYING`
* `COPYRIGHT`
* `Changes.md`, `Changes.markdown`, or `Changes.pod`

Also have

* `README`
* `CHANGES`

Added?

[2016-09-28 16:37] agentzh commented on #5
@bungle Yeah, we can add the most common ones in this CC set. Pull requests welcome :)

[2016-09-28 17:13] agentzh commented on #7
@bungle It uses regexes to scan the Lua source statically. Added the more docs to README to clarify that. Please let me know if it needs further treatment. Thanks!

[2016-09-28 17:28] agentzh commented on #6
@bungle Well, opm is only (officially) expected to work properly with OpenResty, not really self-made nginx + ngx_lua (though knowledgeable users can make that work, but it's not officially supported).

I've added more docs for those special dependency names. BTW, it is `ngx_http_lua` instead of `ngx_http_module`.

Yes, all the deps are AND'd together.

The `openresty` dep is just for convenience.

[2016-09-28 18:00] #7 closed

[2016-09-28 18:01] #6 closed

[2016-09-28 18:47] agentzh commented on #4
@splitice We already specify custom download or upload servers in user's `~/.opmrc` file though the default settings point to `opm.openresty.org`. Basically the user can edit `~/.opmrc` to switch to her own servers if she wants to.

For multiple parallel repository support similar to yum, yes, it's on the TODO list. The plan is to introduce new `[repos NAME]` sections in `~/.opmrc` to define extra

[2016-09-28 18:49] agentzh commented on #8
@bungle No, I don't want to since I hope we can encourage (or enforce) the user to write these important docs in a formatting language like Markdown and POD. This is because

1. We want these docs to be indexed by the `restydoc` tool.
2. We want to (eventually) render these files as nice-looking HTML pages on the opm.openresty.org website.

[2016-09-29 06:02] lilien1010 opened #9 "unknown luaJIT command or jit.* modules not installed"
/usr/local/openresty/luajit/bin/luajit-2.1.0-beta2: unknown luaJIT command or jit.* modules not installed

openresty-1.11.2.1 installed
lastest opm installed
then I `cp  opm/bin/opm   /usr/local/openresty/bin`
when I set dist.ini down and run `opm build`
it shows error like this
`
found license: BSD 3-Clause "New" or "Revised" license.
derived main_module file resty/s3uploader.lua
/usr/local/openr

[2016-09-29 09:46] pintsized commented on #9
I have the same problem, also with 1.11.2.1.

[code]

[2016-09-29 09:58] pintsized commented on #9
Appear to be the `-b` flag passed to luajit? My OpenResty was configured with the default options.

[2016-09-29 13:10] bungle commented on #8
Ok, I have nothing against it.

[2016-09-29 13:10] #8 closed

[2016-09-29 13:13] bungle commented on #8
@agentzh,

Is there by the way a suggested way that we should follow when writing, e.g. CHANGES.md?

[2016-09-29 18:56] agentzh commented on #9
@pintsized Could you try running the following commands on your side?

[code]

[2016-09-29 19:00] agentzh commented on #9
@lilien1010 @pintsized Please try out the latest `opm` tool in the code repository. Just added more info to the error message and also switched to `luajit -b` instead of `luajit -bl`. Please let me know your output if it still breaks.

[2016-09-29 19:19] agentzh commented on #8
@bungle Better like this:

https://raw.githubusercontent.com/openresty/openresty.org/master/v2/en/changelog-1011002.md

[2016-09-29 19:31] pintsized commented on #9
@agentzh For me, using the -b flag at all always shows that error:

[code]

I just tried out the latest version - slightly different output but the same error:

[code]

Anything else I can do to help?

[2016-09-29 19:50] agentzh commented on #9
@pintsized Your latest output is very helpful. Please git pull and try out the latest version of `opm`. Thanks!

[2016-09-29 19:51] agentzh commented on #9
@pintsized BTW, what version of perl are you using? Will you show the output of the command `perl -v` on your side? Thanks!

[2016-09-29 19:54] pintsized commented on #9
[code]

[2016-09-29 19:57] pintsized commented on #9
Just pulled - slightly different again:

[code]

[2016-09-29 20:44] agentzh commented on #9
@pintsized Okay, it seems that your LuaJIT in the OpenResty installation tree fails to load the standard LuaJIT module, `jit.bcsave`. Please try the following command and provide the output:

[code]

On my side (Fedora Linux x86_64), the output looks like this, which is the corrected behavior:

[code]

Wondering if your OpenResty/LuaJIT installation just does not have the `jit/bcsave.lua` file or

[2016-09-29 20:46] agentzh commented on #9
@pintsized BTW, what Linux distribution are you in? Will you provide as much details as possible? Thanks!

[2016-09-29 20:58] pintsized commented on #9
[code]

Seems it's looking for it in the wrong place for some reason? `/usr/share/lua/5.1/jit` doesn't exist. `bcsave.lua`  does exist in the OpenResty installation....

[code]

This is a Scientific Linux 6 environment. I compiled OpenResty with a plain `./configure; gmake; sudo gmake install`.

Could `LUA_PATH` relevant at all?

[code]

[2016-09-29 21:10] agentzh commented on #9
Oh yeah, your global `LUA_PATH` environment setting hides all the standard LuaJIT modules.

[2016-09-29 21:11] agentzh commented on #9
@pintsized I'll explicitly clear any `LUA_PATH` or `LUA_CPATH` environments in the `opm` tool then. Such things are painful to debug.

[2016-09-29 21:14] pintsized commented on #9
@agentzh Ah, yep makes sense!

[2016-09-29 21:16] agentzh commented on #9
Okay, please try the latest `opm`.

[2016-09-29 21:16] #9 closed

[2016-09-29 21:18] pintsized commented on #9
@agentzh To confirm, I fixed my path and all is now working...

[code]

Will update and test against both this and the old `LUA_PATH` for good measure.

[2016-09-29 21:20] pintsized commented on #9
@agentzh Confirmed, it works now regardless of `LUA_PATH`. Thanks! I'll start uploading some modules tomorrow :)

[2016-09-29 21:21] agentzh commented on #9
@pintsized Cool, thanks for your patience!

[2016-09-30 01:21] p0pr0ck5 opened #11 "Bug in openresty requires?"
I have installed opm manually to `/usr/local/openresty/bin/opm`. Trying to build a project with opm with the following line in dist.ini:

`requires = openresty > 1.9.7.3`

Results in build failure:

<pre>poprocks@soter:~/code/Lua/lua-resty-waf$ /usr/local/openresty/bin/opm build
found license: GNU General Public License (GPL) version 3.
ERROR: openresty is required but is not available according t

[2016-09-30 01:25] p0pr0ck5 commented on #11
Bah, ignore me. I need to read first. resty is undefined from `init_installation_ctx`.

It might still be worth adding some documentation to opm describing cases where builds or such may fail because the `resty` bin is undefined? Or shall we assume that all opm users have `resty` in PATH? Either way is good for me, just food for thought. Cheers!

[2016-09-30 01:56] agentzh commented on #11
You have no /usr/local/openresty/bin/resty ? The opm tool first looks at that path before falling back to PATH as the last resort.

And yes, the error message deserves better.

[2016-09-30 06:47] agentzh commented on #11
@p0pr0ck5 On my side, the error message is not too bad:

[code]

[2016-09-30 06:48] agentzh commented on #11
@p0pr0ck5 To reproduce that, I renamed `/usr/local/openresty/bin/resty` to something else. BTW, are you using an old OpenResty without the `resty` utility?

[2016-09-30 06:51] agentzh commented on #11
I've just made the error message a bit nicer by removing the "at /path/blah/blah" suffix.

[2016-09-30 06:51] #11 closed

[2016-09-30 08:23] bungle opened #12 "Character Encoding Issues with opm client"
It seems that opm.openresty.org doesn't correctly handle UTF-8.

![screen shot 2016-09-30 at 11 25 34](https://cloud.githubusercontent.com/assets/983257/18985449/a3822824-8700-11e6-9f18-dcf16391b97e.png)

See that `â`.

[2016-09-30 09:32] pintsized opened #13 "Re-uploading packages"
Is it possible to force upload the same package version again? I uploaded `lua-resty-redis-connector`, and then noticed that "core" modules are also available via opm, so decided to add `openresty/lua-resty-redis` as a dependency.  But it doesn't seem to allow me to re-upload, presumably without bumping the module version?

[code]

[2016-09-30 16:53] p0pr0ck5 opened #14 "Remove incorrect uploads"
Is there a mechanism to remove packages that have been incorrectly uploaded? I forgot to correct the `name` attribute in my first upload of lua-ffi-libinjection (the upload time is tagged as `2016-09-30 16:46:58.760523+00`) when copying a boilerplate dist.ini.

[2016-09-30 17:04] agentzh commented on #14
@p0pr0ck5 No, there is no such mechanism yet. Also, for security reasons, we usually do not want to provide an Internet-accessible way to remove packages on our server. Well, just send me a note offline in a private email and I can remove it for you.

[2016-09-30 17:09] p0pr0ck5 commented on #14
Sure, makes sense for now. I'd guess eventually we'll have some authorization mechanisms in place? For now I'll just learn to double check my uploads ;)

[2016-09-30 17:09] #14 closed

[2016-09-30 18:16] agentzh commented on #14
We already have authorization based on the personal GitHub token. But for dangerous operations like removal, we need stronger ways like email verification and etc. Regarding your mistake here, I think we can make opm check that the name field matches the project part in the repo link.

[2016-09-30 18:21] agentzh commented on #13
No, it's not allowed to override an indexed package of the same version number. This is by design to avoid security issues and also user confusion. Once a release is made and indexed, it's history. Any further changes need version number bump.

Having said that, you can still upload the exactly same version package when previous uploads all fail to index :)

[2016-09-30 18:25] agentzh commented on #12
Yeah, I've noticed that too. Will look into it today. Thanks for the report!

[2016-09-30 19:35] agentzh commented on #13
@pintsized BTW, it's generally not a good idea to require standard OpenResty libraries unless you have a specific version requirement on that standard library ;)

[2016-09-30 19:37] agentzh commented on #14
@p0pr0ck5 I've just committed a change that implements the repo_link vs name check. Please upgrade your local `opm` script. Thank you :) (BTW, the package server also does this check during indexing now).

[2016-09-30 21:33] agentzh commented on #12
@bungle Just committed a patch that fixes the UTF-8 problem in commit 19dc8f5e21. Also pushed it to the package server. Please try it again on your side. Thanks!

[2016-09-30 23:12] agentzh commented on #12
@bungle I've just added explicit UTF-8 validity checks for "abstract" and "author" fields in dist.ini, both on the client and server side. Invalid UTF-8 sequences in these fields won't pass `opm build` or `opm server-build` :)

[2016-10-01 02:30] lilien1010 opened #15 "curl failed!"
curl: (52) Empty reply from server
ERROR: failed to run command curl -sS -i -A 'opm 0.0.1 (darwin-thread-multi-2level, perl v5.18.2)' -H 'X-File: lua-resty-s3uploader-1.1.1.tar.gz' -H 'X-File-Checksum: ce5d56b670a82c43dd10bf4d1bc9da5f' -H 'X-Account: lilien1010' -H 'X-Token: **********' -T 'lua-resty-s3uploader-1.1.1.tar.gz' 'https://opm.openresty.org/api/pkg/upload'

[2016-10-01 02:43] agentzh commented on #15
@lilien1010 I didn't see any related error logs on the server side. Have tried multiple times?

Also, what is the output of the command `curl https://opm.openresty.org/|grep pgmoon` on your side?

[2016-10-01 02:44] agentzh commented on #15
@lilien1010 Also, please try specify the `--verbose` option of your `opm upload` command, so that we can have more details from `curl`.

[2016-10-01 03:00] agentzh commented on #15
@lilien1010 FYI, I just tried `opm upload` on my Mac OS X 10.11.6 with the default system curl `/usr/bin/curl` in my macbook pro and it works for me when uploading to the real opm.openresty.org server.

[2016-10-01 04:28] lilien1010 commented on #15
when I run
`sudo opm upload --verbose
`

It shows a lot of info  like this

`a lua-resty-s3uploader-1.1.1/lib/Applications/Atom.app/Contents/Resources/app/apm/node_modules/asar-require/node_modules/asar/node_modules/minimatch/node_modules/brace-expansion/node_modules/balanced-match/README.md
a lua-resty-s3uploader-1.1.1/lib/Applications/Atom.app/Contents/Resources/app/apm/node_modules/asar-require

[2016-10-01 04:36] agentzh commented on #15
@lilien1010 You should have used three backticks instead of just one. Your quoted code block is unreadable due to the messed up new lines.

[2016-10-01 04:38] agentzh commented on #15
@lilien1010 You haven't replied to my previous comment:

[2016-10-01 04:39] lilien1010 commented on #15
` web_install git:(master) curl https://opm.openresty.org/ |grep pgmoon
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 28789    0 28789    0     0   2456      0 --:--:--  0:00:11 --:--:--  6869
            <a href="https://github.com/agentzh/pgmoon/tree/agentzh">
            agentzh/p

[2016-10-01 04:39] agentzh commented on #15
@lilien1010 Your comment is unreadable (see it yourself)...

[2016-10-01 04:40] agentzh commented on #15
@lilien1010 Use

[code]

instead of

    `
    ...
    `

[2016-10-01 04:41] agentzh commented on #15
@lilien1010 Your network looks okay.

[2016-10-01 04:41] agentzh commented on #15
You are not expected to run `sudo` with `opm upload`.

[2016-10-01 04:42] lilien1010 commented on #15
it keep show error
[code]

[2016-10-01 04:43] agentzh commented on #15
No other output? Are you giving the complete output? Please do not just provide the last few lines. Please provide the complete output.

[2016-10-01 04:44] agentzh commented on #15
Ensure you are using the latest `opm` from the github repo.

[2016-10-01 04:44] lilien1010 commented on #15
@agentzh  if I do not use sodu , it show error
[code]

and I just git pull from the openresty/opm  3 hours ago

[2016-10-01 04:46] agentzh commented on #15
@lilien1010 Maybe you should look at the markdown format first? Your comment still messes up. You need a new line before and after

[code]

[2016-10-01 04:46] lilien1010 commented on #15
BTW I am use MacOS , sorry for the format problem I fixed it , and I think the complete output is too much ,can I send you a file through Email?

[2016-10-01 04:47] agentzh commented on #15
@lilien1010 seems like your current working directory is wrong?

[2016-10-01 04:48] agentzh commented on #15
@lilien1010 I'd share my session on my Macbook:

[code]

[2016-10-01 04:49] lilien1010 commented on #15
this is the repo that I wanted to upload to opm
`lua-resty-s3uploader`

and I am runing `opm upload` in the `lua-resty-s3uploader` directory

[2016-10-01 04:49] agentzh commented on #15
@lilien1010 Your current working directory must be the top directory of your Lua module source tree. It's strange that `opm` picks up many weird files and directories from your current working directory and I think you are just running `opm upload` from the wrong file system location.

[2016-10-01 04:51] agentzh commented on #15
@lilien1010 Why should your `lua-resty-s3uploader` source tree contains the file `lua-resty-s3uploader-1.1.1/lib/Applications/Atom.app/Contents/Resources/app/apm/node_modules/asar-require/node_modules/asar/node_modules/cuint/README.md`? What's that? You need a clean source tree.

[2016-10-01 04:52] agentzh commented on #15
@lilien1010 Also, it seems that not all files or directories are accessible from your system account in your `lua-resty-s3uploader` source tree, which should not be the case. You must have messed up things in your own source tree?

[2016-10-01 04:53] agentzh commented on #15
@lilien1010 Remove all those unrelated files from your `lua-resty-s3uploader` source tree, especially those under your `lib/` directory. Oh my god.

[2016-10-01 04:54] lilien1010 commented on #15
@agentzh
after I run  `sudo opm build`  it generate files ` lua-resty-s3uploader-1.1.1*`  in the directry  lua-resty-s3uploader
[code]

[2016-10-01 04:55] agentzh commented on #15
I also have no idea about those directories like `/.DocumentRevisions-V100` and `/.Spotlight-V100`. Maybe you have weird symlinks in your source tree.

[2016-10-01 04:55] agentzh commented on #15
@lilien1010 Your github comments above are not readable. Will you fix them up first? I suggest you read the help on the markdown syntax.

[2016-10-01 04:55] lilien1010 commented on #15
reload and I fixed

[2016-10-01 04:57] agentzh commented on #15
@lilien1010 Why do you want to include `node_modules` under your `lib/` directory? Also, why do you use `sudo` to run `opm build`? If you use `sudo` to run `opm build`, then you must also use `sudo` to run `opm upload`.

[2016-10-01 04:59] lilien1010 commented on #15
maybe  becos I set the `doc_dir = /` in the dist.ini file,holy

[2016-10-01 05:01] agentzh commented on #15
@lilien1010 Ah...That's crazy, man...

Okay, I think I'll simply reject absolute paths in the `lib_dir` and `doc_dir` values to catch such silly mistakes automatically.

[2016-10-01 05:02] #15 closed

[2016-10-01 05:03] agentzh commented on #15
@lilien1010 Does `opm upload` work now after fixing your `lib_dir` and `doc_dir` values?

[2016-10-01 05:10] lilien1010 commented on #15
[code]

Finished!!

[2016-10-01 05:21] agentzh commented on #15
@lilien1010 Finally! Congrats! I've just committed a change in `opm` that makes `opm` rejects absolute path values in `lib_dir`, `doc_dir`, and `main_module`.

[2016-10-01 06:24] sumory opened #17 "install error"
`opm` is copied to ${prefix}/bin as the document says.

the error description is:
![cfc8dc04-ebc7-4805-90f0-8b55cc11c4ac](https://cloud.githubusercontent.com/assets/1326893/19012251/bae748c2-87e2-11e6-83a5-56cf29d8e93d.png)

[2016-10-01 06:29] sumory commented on #17
😭 sorry, i made a stupid mistake(just `wget opm file link` to save it)..

[2016-10-01 06:29] #17 closed

[2016-10-01 08:26] sumory opened #18 "no namespace was used when `opm install`"
i just tried to package several versions of my framework(lor).  i found there may be a potential problem with `opm install`.

if i use `opm install sumory/lor=0.2.0` to install, `site/lualib` will look like this:

[code]

both the `index.lua` file and `lib` dir are belong to `lor`. they directly occupied the position under `lualib`.

so  i finally packaged another version to avoid this,  `opm inst

[2016-10-01 11:44] pintsized commented on #13
@agentzh Ah, ok, makes sense.

Good to know about the standard libraries - once I saw them there I wondered if in the future it might be necessary to install them manually as required.

[2016-10-01 11:44] #13 closed

[2016-10-01 16:24] agentzh commented on #18
You define your own namespace by using intermediate directories. See the standard OpenResty Lua libraries for real world examples. Opm doses not add your package name automatically and forcibly as the top level namespace.

[2016-10-01 16:24] #18 closed

[2016-10-02 04:28] sumory commented on #18
another bad case:

i installed `opm install starjun/dynamic_balancer` first, and then the file `site/lualib/resty/random.lua` was  occupied.

for now, everything looks ok:

[code]

after a while, when i install another package `opm install openresty/lua-resty-string`, the following error occured:

[code]

[2016-10-02 04:44] sumory commented on #18
i'm getting confused that it's impossible for every user to build and upload the package as "standard OpenResty Lua libraries", e.g. lua-resty-string

maybe we should consider a proposal or specification to give some good examples about how to build opm packages, or we should redesign some machanism about opm.

[2016-10-02 05:11] agentzh commented on #18
@sumory I don't see any issues in `opm` itself. The `opm` tool complaints about the right thing. It does not make sense to install two packages which both ship with the same file name (and path). You are allowed to override the standard OpenResty library files, though, but not those standard OpenResty libraries installed via `opm`. The true builtin OpenResty libraries are stored in a different loc

[2016-10-02 05:13] agentzh commented on #18
@sumory BTW, you should not install `openresty/lua-resty-string` since lua-resty-string is already shipped with OpenResty. Unless you need a newer version. But nevertheless, if a 3rd-party module has `resty/random.lua`, then it will shadow `resty/random.lua` shipped with your OpenResty installation.

[2016-10-02 05:15] agentzh commented on #18
@sumory It's bad practice for 3rd-party OPM module developers to ship a Lua module that overrides the standard module files though `opm` does not prohibit. If it upsets you (as a user), then you should really report the problem to the author of that OPM module (`starjun/dynamic_balancer` in this case). I don't think there's anything to be done on our (`opm`) side.

[2016-10-02 05:28] sumory commented on #18
if i want to use two  3rd-party modules(module A and module B) and unfortunately they both occupy the `site/lualib/resty/abc.lua` path, i should remove one module or ask the authors to rename it?

[2016-10-02 18:29] agentzh commented on #18
@sumory Of course.

[2016-10-03 19:39] bungle commented on #12
It seems the web site is now ok, but the client is not:

![screen shot 2016-10-03 at 22 37 00](https://cloud.githubusercontent.com/assets/983257/19051086/22442476-89ba-11e6-95a3-a4a9b32e7648.png)

[2016-10-03 19:45] bungle commented on #12
`opm info` works fine, but it seems the search doesn't. Is this some kind of a caching issue?

[2016-10-03 20:13] agentzh commented on #12
@bungle Well, this is actually another issue: `opm search` may pick up an abstract string from whatever releases with the same package name. So what you are seeing is just that `opm search` picks up your older release which has bad data in the database.

Well, I've just manually updated the database and fixed the encoding issue in your first lua-resty-session version.

[2016-10-03 20:13] #12 closed

[2016-10-04 04:45] sinogermany opened #19 "`Opmfile` and `Opmfile.lock`?"
New to the `opm` world.
Is it worth having an `Opmfile` and even an `Opmfile.lock`?
Not sure if it's a trivial thing or not...
Feel free to close this issue as "will not fix" if it's not relevant.

[2016-10-04 05:46] agentzh commented on #19
What do you mean? We already have a lock file under ~/.opm/ to avoid concurrent opm sessions from the same user. But maybe we should make it system wide.

[2016-10-05 01:37] pronan opened #21 "Seems no vaccum options"
Hello, after you build and upload a opm package, there will be a new folder and .gz file in your repo.
[code]
how about add a option like -v to automatic delete `lua-resty-datetime-1.0` and `lua-resty-datetime-1.0.tar.gz`?

[2016-10-05 01:39] agentzh commented on #21
Or maybe a new command "opm dist-clean"?

[2016-10-05 01:43] pronan commented on #21
wow so fast chun ge!
yeah, that would be fine too!

[2016-10-05 01:44] agentzh commented on #21
Mind to submit a pull request for that ;)

[2016-10-05 01:45] pronan commented on #21
That's my pleasure :). I'm woking on it!

[2016-10-05 02:15] agentzh commented on #21
@pronan Awesome. Thanks!

[2016-10-05 02:20] pronan commented on #21
Hello chun ge, PR is created. This is my first time to write a perl code. Nervers. Hope I won't screw it up.

[2016-10-05 04:53] sinogermany commented on #19
Sorry for the confusion...

I was just wondering if it's possible to have a `.opm_packages` locally to a project, like:
- `package.json` being installed into `npm_packages`.
- `Gemfile` but installed locally with `bundle install --path vendor/bundle`.

Let's assume I'm using 2 version of `lua-resty-mysql` to write 2 apps.
With that option I'll be able to manage the dependencies in the project scop

[2016-10-05 05:03] agentzh commented on #19
Have you checked out opm's --cwd option?

[2016-10-05 05:05] sinogermany commented on #19
Cool thanks :) Exactly what I'm looking for. Can't believe I missed that.
Please close this issue, and thanks again. Cheers!

[2016-10-05 05:55] #19 closed

[2016-10-05 08:24] bungle opened #23 "About command names"
I think the `opm update` vs. `opm upgrade PACKAGE...` is confusing. Most package managers use `update` to update local package caches, and `upgrade` to update the packages to the latest version. Well, opm doesn't maintain (at least currently) a local package cache, so my suggestion would be just to have `opm update [PACKAGE...]` (`upgrade` can be left as an alias for this).

Also `opm get` is a bi

[2016-10-05 08:27] bungle commented on #23
Also it seems that `opm help` and `opm --help` and `opm -h` all work, but other commands only work without `--`, and have no short notation `-`.

[2016-10-05 08:44] bungle opened #24 "--cwd not flexible enough"
`--cwd` option is defined as:

[code]

This `./resty_modules/` cannot be configured (`.opmrc`: `cwd = lib/vendor`) or passed as argument value (`opm --cwd=lib/vendor`). Also if that is added, the `c` in `cwd` will lost a meaning as it might also accept full paths.

We could have:

[code]

[2016-10-05 18:41] agentzh commented on #24
@bungle Well the `--cwd` option is not for flexibility but just for convenience. I was planning another `--install-dir=PATH` option instead for flexibility. Willing to submit a pull request for it? ;)

[2016-10-05 18:52] agentzh commented on #23
@bungle Well, the `update` and `upgrade` command semantics are exactly the same as Redhat's `yum` system. Also, it's also used by homebrew. I'm not sure where your `most package managers` come from. The only manager that fits your semantics to my knowledge is `apt-get`.

[2016-10-05 18:54] agentzh commented on #23
@bungle BTW, we do have `install` as an alias for `get`. And also `uninstall` for `remove. They both work. They are not documented by intention since we want to recommend the canonical usage.

[2016-10-05 18:54] #23 closed

[2016-10-05 23:04] bungle commented on #23
Well, `brew update`doesn't update anything, only caches. Same as `apt`. Also my favorite package manager `rudix` follows this. Also `npm`... but whatever, it just made more sense to me, but I can live with this.

[2016-10-05 23:05] bungle commented on #24
Ok, I can look at it.

[2016-10-06 01:33] agentzh commented on #23
We do not cache any package indexes locally, so updating the cache just does not make any sense for us ;)

[2016-10-06 06:16] bungle commented on #23
I know that and especially for that reason it makes little sense to me to have two different words here. You start to think how they differ, and after some research you find that they are the same, only that the other gets some more arguments.

[2016-10-18 16:49] p0pr0ck5 opened #30 "Support for compilation / Makefile execution"
Any plans to support OPM packages to execute `install` commands when installed via opm? E.g. a package could execute a command to locally make some C module as part of the installation process, similar to what Luarocks offers.

[2016-10-18 17:15] agentzh commented on #30
@p0pr0ck5 Support for Lua libraries with C components are already planned. See our TODO list:

https://github.com/openresty/opm#todo

But we won't use the author Makefile since Makefiles are non-portable per se. We will provide our own mechanism in opm.

[2016-11-02 23:53] agentzh commented on #5
Consider it resolved.

[2016-11-02 23:53] #5 closed

[2016-11-03 04:12] SirR4T commented on #24
I would like to take a shot at this, even though i haven't worked with perl. is that fine?
Also, this seems to raise a question: how should this option affect the `opm upgrade` command?

[2016-11-03 05:20] agentzh commented on #24
@SirR4T In the same way as the current `--cwd` option, I think.

[2016-11-03 07:21] SirR4T commented on #24
I'm using `File::Spec->rel2abs(...)`, because I expect the given values could be of the form `--install-dir=../../lib/`.

But then this doesn't seem to work with `--install-dir=~/local/lib/` though, because `rel2abs()` doesn't seem to resolve `~` to `$HOME`. Would that be required?

[2016-11-03 18:11] agentzh commented on #24
@SirR4T It's your shell's responsibility to expand the `~` thing, not the command-line utility itself. Your notation just prevents your shell from doing its job of expanding `~`. You should use one of the following notations instead:

[code]

or

[code]

[2016-11-05 16:30] GUI opened #33 "Dashes in filenames become directories when installed"
I just tried adding an existing package of mine, [lua-libcidr-ffi](https://github.com/GUI/lua-libcidr-ffi), to OPM. But I hit one oddity after uploading and then installing the package, and I wasn't sure if it was a bug or intended behavior.

Inside the package, there's currently a `lib/libcidr-ffi.lua` file. So under the current LuaRock's based installation approach, you require this file via `re

[2016-11-05 16:58] agentzh commented on #33
@GUI I recall that this issue has been fixed in opm recently. Are you using the latest version of opm script in the github repos?

[2016-11-06 21:54] GUI commented on #33
@agentzh: Ah, sorry for not including that information. Yesterday, I was using the version bundled with the new OpenResty 1.11.2.2 RC1 release. I just tried with the latest version from master ([74f39e5](https://github.com/openresty/opm/blob/74f39e5e0b5633789f92472e2df5da04e6d15b91/bin/opm), which appears to the be same version bundled with 1.11.2.2 RC1), and I'm still seeing the same issue.

It a

[2016-11-07 01:05] agentzh commented on #33
@GUI It seems that the opm server was running an old version of `opm-pkg-indexer.pl` daemon. I've just restarted that deamon using the latest opm repo. Please retry uploading. Thanks for the report!

[2016-11-07 01:59] GUI commented on #33
Thanks. I just tried uploading a new version, but it looks like dashes are still being converted into directories. Here's the log output of the upload (at 2016-11-07 01:51 UTC):

[code]

And here's the new tar.gz that still returning the file as `libcidr/ffi.lua`:

[code]

Thanks for looking into this!

[2016-11-07 05:20] agentzh commented on #33
@GUI Sorry, I forgot to update the `opm` script on the opm package server. I only updated the `opm-pkg-indexer.pl` script there. I've just tested against the opm.openresty.org server myself and it should work now. Please try again. Sorry for the inconvenience!

[2016-11-07 13:54] GUI commented on #33
@agentzh: No worries, thanks for taking the time to debug this. And it looks like your last update worked. I was able to upload v0.1.3 and it retains the `libcidr-ffi.lua` filename on download. Thanks again!

[2016-11-07 13:54] #33 closed

[2016-11-20 02:36] dimitrovs opened #36 "OPM is missing"
The README says:

My OpenResty version:

`# openresty -v
nginx version: openresty/1.11.2.2`

The result of running opm:

`# opm
-bash: opm: command not found`

[2016-11-20 06:32] agentzh commented on #36
@dimitrovs How do you install your openresty?

If you install openresty from source, then you should add the `<prefix>/bin` to your PATH environment, as in

[code]

assuming you are using the default openresty installation prefix, /usr/local/openresty/.

On the other hand, if you install openresty from our official Yum repositories, then you should install the `openresty-opm` package via yum, as i

[2016-11-20 06:32] #36 closed

[2016-11-23 08:52] xiaooloong opened #37 "openresty-opm 包缺失依赖"
`opm` 安装后使用时发生错误，提示 `Can't locate Digest/MD5.pm`

需要手动 `yum install perl-Digest-MD5`

[2016-11-24 01:32] netroby opened #38 "Add web search form - prepare for if more and more packages added."
Add web search form - prepare for if more and more packages added.

https://opm.openresty.org/

[2016-11-24 02:47] agentzh commented on #38
@netroby It's been a TODO item. Pull requests welcome.

[2016-11-25 19:37] agentzh commented on #37
@xiaooloong Thanks for the report. We'll look into this.

[2016-11-25 19:38] agentzh commented on #37
@xiaooloong BTW, this place is supposed to be English only. Thank you :)

[2016-11-25 22:26] agentzh commented on #37
Fixed in the git repository of openresty/openresty-package. Thanks!

[2016-11-25 22:26] #37 closed

[2016-11-29 21:38] jvanasco opened #39 "Feature Request: `opm dist-install`"
It would be nice if there were a way to install a dist file (as built by `opm build`)

* It would be much easier for local testing by module authors, before uploading to server
* It would allow for offline caching of dists, which is useful for testing and build scripts

It would also be nice if the output of `opm build` included the name of the distribution file that was just built.

i would imagi

[2016-11-29 22:46] agentzh commented on #39
@jvanasco Sounds good to me except that I don't like `opm dist-install` take any argument. Its usage should be similar to `opm upload`.

Pull requests welcome :)

[2016-11-29 22:48] agentzh commented on #39
@jvanasco After some thinking, it seems to me that it might be tricky to implement since it would require many more dependencies if we want to go through all the real processing details on the package server. "Slim clients" might no longer be possible after introducing this.

[2016-11-29 22:53] jvanasco commented on #39
@agentzh I don't think it should install any dependencies, just the declared package(s).

In one use case, I am porting something to `opm`.  In order for me to test the distribution and make any necessary adjustments (based on how the opm client installs packages), I have to deploy the package to the opm repo then pull it back down.  That means a non-functioning pre-release version can wind up dis

[2016-11-29 22:54] agentzh commented on #39
@jvanasco It would depend on `util/opm-pkg-indexer.pl` at least.

The following command should serve your purpose well already:

[code]

[2016-11-29 22:56] agentzh commented on #39
@jvanasco BTW, it's not hard to set up your local opm server for testing. Everything is in the opm git repos.

[2016-11-29 22:57] agentzh commented on #39
@jvanasco Just remember to adjust your `~/.opmrc` file to point to your local opm server during testing.

[2016-11-29 22:58] agentzh commented on #39
@jvanasco You'll also need to remember invoking `util/opm-pkg-indexer.pl` yourself after `opm upload`.

[2016-11-29 23:03] agentzh commented on #39
Another way to tackle this is to add support for "developer releases" by differentiating such releases via special version number suffixes like "_1" and "_2". By default, users cannot install such versions unless explicitly specify the version number in the `opm get` command line. Pull requests welcome.

[2016-11-29 23:15] jvanasco commented on #39
I do think the easiest way is to just have a hook to install a given tarball into the site (or `cwd` or `install-dir`) using the existing infrastructure in the `/bin/opm`.  I think I can pull this off (I haven't touched Perl in 10+ years)

The `server-build` is a great step for debugging (it raised some issues for me!), but it doesn't register in the local system.

hidden "developer versions" are

[2016-11-29 23:36] agentzh commented on #39
@jvanasco Existing `opm get` hits the package server via HTTP or HTTPS. I don't want to add an artificial code path for `opm dist-install` which is not really realistic for your purposes anyway.

[2016-11-29 23:44] agentzh commented on #39
@jvanasco I just had another look. I now think `dist-install` has its own merit. The implementation should be simple, just wrap up the following operation sequence:

[code]

The last step can reuse the code starting from the following line:

https://github.com/openresty/opm/blob/master/bin/opm#L1348

We do not need to re-invent anything here. Just some code refactoring in the `opm` script.

[2016-11-29 23:44] agentzh commented on #39
@jvanasco Pull requests are very welcome.

[2016-11-30 20:23] jvanasco commented on #39
I will have the first suggestion of a PR shortly.

The above functionality is working as `build-install`; I've also standardized some of the variable names so this package is easier to maintain.

I'm just cleaning up my work right now.

[2016-12-06 08:19] xiaooloong commented on #37
@agentzh
[code]
need to install `openresty-resty` manually

[2016-12-06 18:45] agentzh commented on #37
@xiaooloong Yes, it is expected and by design. The `openresty-resty` package depends on `openresty` but not the other way around. See

http://openresty.org/en/rpm-packages.html

[2016-12-14 12:55] zonak opened #42 "Issues with downloading packages when behind a proxy"
Tried the package manager via regular connection and it worked as expected.

When I attempt to run in it on a VM that is behind a proxy, I am getting the following error:

[code]

I did some research and most likely the issue is caused by the fact that when trying to get the HTTP status code via _curl_, _opm_ expects to see _302_ but the proxy responds with something like this:

[code]

which mean

[2016-12-14 13:57] zonak commented on #42
After going over the code in a little bit more detail what I previously suggested will not work.

I tried adding the following logic:

[code]

which effectively moves the iteration to the right spot in the _curl_ response. This worked for me, but no _perl_ expert and no deep knowledge of the whole code base but I thought it might give you something useful to start with.

[2016-12-14 19:55] agentzh commented on #42
@zonak How exactly did you configure your proxy? It would be much easier to fix if we can reproduce the problem on our side :)

[2016-12-14 20:31] zonak commented on #42
I apply the recommended method of using a proxy with _curl_ (and many other _cli_ tools) by setting the `HTTP_PROXY` and / `HTTPS_PROXY` env variables.

Please let me know if I can provide any further clarifications on this.

[2016-12-15 00:30] agentzh commented on #24
Now that `--install-dir` is merge, I'm closing this.

[2016-12-15 00:30] #24 closed

[2016-12-15 01:50] agentzh commented on #42
@zonak Will you please try out the following patch for the `opm` script on your side?

[code]

Please try as many opm commands as possible with the http proxy enabled on your side. Many thanks!

[2016-12-15 12:50] zonak commented on #42
@agentzh thank you for the prompt response.
Applied the patch and tested all the commands - everything seems to be working great now.

[2016-12-15 19:11] agentzh commented on #42
@zonak Thanks for your feedback!

@doujiang24 @membphis @moonbingbing Will you please review my patch above? If it is okay, I'll commit it :) Thanks!

[2016-12-16 06:07] doujiang24 commented on #42
@agentzh LGTM:)

[2016-12-16 06:23] moonbingbing commented on #42
Looks good to me

[2016-12-16 06:27] detailyang commented on #42
by the way `my $out = do { local $/; <$in> };` is [Perl Idioms](http://www.perlmonks.org/?node_id=287647) which i took minutes to googling it :)

[2016-12-16 20:40] agentzh commented on #42
@detailyang Aye.

[2016-12-16 20:51] agentzh commented on #42
Patch committed. Thank you all!

[2016-12-16 20:51] #42 closed

[2016-12-20 07:01] thibaultcha commented on #42
@agentzh Sorry for passing on this; I am not yet familiar with opm especially since I haven't started using it for my libraries yet :) (adding it to my 2017 resolutions)

[2016-12-20 08:40] nemoyin opened #43 "how to set a proxy to access repository resource"
rt

[2016-12-20 09:42] detailyang commented on #43
Hello.
If you want to use proxy server to download package in cli, you can set the `http_proxy` or `https_proxy` env before using opm as the following:

[code]

These is a document [proxy_settings](https://wiki.archlinux.org/index.php/proxy_settings) which is useful to you:)

[2016-12-20 10:59] nemoyin commented on #43
thanks, i will try

[2016-12-24 21:00] agentzh commented on #43
This is officially documented in opm:

https://github.com/openresty/opm#http-proxy-support

[2016-12-24 21:00] #43 closed

[2017-01-06 14:23] roadsigngit opened #44 "ERROR: luajit is required but is not available according to resty:"
here is my path as below:

localhost:nlb huidizhao$ ls
bin		lualib		pod		site
luajit		nginx		resty.index	software

localhost:nlb huidizhao$ tree
.
├── bin
│   ├── md2pod.pl
│   ├── nginx-xml2pod
│   ├── openresty -> /Users/huidizhao/Documents/workspace/ssr/ssr/nlb/nginx/sbin/nginx
│   ├── opm
│   ├── resty
│   ├── restydoc
│   └── restydoc-index
├── luajit
│   ├── bin
│   │   ├── luajit -> luajit-

[2017-01-06 17:42] agentzh commented on #44
@roadsigngit opm assumes the directory layout of OpenResty. For custom setup, you'll have to either 1) copy the OpenResty directory structure or 2) add the paths of your resty, nginx, and luajit executables to your PATH environment.

[2017-01-06 17:44] agentzh commented on #44
@roadsigngit In this example, you are missing the `resty` command-line utility in your `PATH` environment, which is shipped with OpenResty or from its original github repository `openresty/resty-cli`.

[2017-01-06 17:45] agentzh commented on #44
@roadsigngit It's generally a bad idea to use `opm` outside OpenResty since you are simply asking for troubles :) It could work but you need to very careful.

[2017-01-07 19:46] bungle opened #45 "500 Internal Server Error at https://opm.openresty.org/"
I  am  currently trying to update one of my modules, but I'm getting this (this is from OpenResty 1.11.2.2):

[code]

[2017-01-07 19:49] bungle commented on #45
My `.opmrc`

[code]

[2017-01-07 20:01] agentzh commented on #45
@bungle Will you try uploading again now? For some reasons, the nginx temp directory on the server was removed by something, leading to your problem. I've just restored it. Thanks for the report!

[2017-01-07 22:40] bungle commented on #45
Works now. Thanks.

[2017-01-07 22:40] #45 closed

[2017-01-09 07:50] joshenders opened #46 "Update documentation to describe dependencies"
Neither Alpine linux nor Ubuntu ship with `curl` installed by default. Trying to use `opm` from one of these distributions results in `opm` outputting:

```ERROR: failed to search: server error.```

Just encountered this issue when building OpenResty in a Docker container. I think the documentation should be updated to describe the need for `resty` and `curl`.

[2017-01-09 17:45] agentzh commented on #46
@joshenders They are already documented for long: https://github.com/openresty/opm#installation

[2017-01-09 17:46] agentzh commented on #46
@joshenders BTW, we are preparing OpenResty's official deb packages for opm and openresty, so it will be much easier to install on Ubuntu, for example.

[2017-01-09 18:38] joshenders commented on #46
Oh, sorry- I guess I overlooked that. Thanks!

On Mon, Jan 9, 2017 at 9:46 AM Yichun Zhang <notifications@github.com>
wrote:

[2017-01-10 01:36] roadsigngit commented on #44
thanks agentzh,i act on your suggestion and it works!

[2017-02-01 14:34] jprjr opened #47 "Request: allow project names and repo links not match"
Hi there - I was working on packing my netstring implementation for opm.

My repository is named 'netstring.lua', here: https://github.com/jprjr/netstring.lua, and here's my dist.ini:

[code]

opm gives me an error because the repo_link doesn't match the name of the package.

I'd prefer not to rename my repository, is there some way to let opm allow mis-matched project/repo names?

[2017-02-02 01:44] agentzh commented on #47
@jprjr Will you please try out the following one-line patch for the opm script on your side?

[code]

Please let me know if it works for you. Thanks!

[2017-02-02 19:25] jprjr commented on #47
@agentzh It works great, I was able to build the project without any problems.

I'm not able to upload (I get a 500 error), not sure if that's related.

[2017-02-02 19:35] agentzh commented on #47
@jprjr The patch was not applied on the server side, obviously :)

Thanks for the feedback! I've committed the patch above to the git repository and also applied to the opm server. Please try again.

[2017-02-02 19:35] #47 closed

[2017-02-02 19:38] jprjr commented on #47
Looks like it worked - thanks!!

[2017-03-02 09:22] PatHuman opened #48 "openresty hooking on the wrong lua / luarocks module path"
Hi,

Sorry to bring this up again, I'm new to this. Could you please  provide clear instructions, as it does not work out of the box for me:  I'm struggling to make openresty aware of  luarocks module ....
with this line,  require('stormpath-nginx') , i'm getting the bellow error:

2017/03/02 10:11:12 [error] 8735#8735: *9 lua entry thread aborted: runtime error: content_by_lua(portal.conf:32):2:

[2017-03-02 09:40] PatHuman commented on #48
Opened in the wrong place.
Sorry

[2017-03-02 09:40] #48 closed

[2017-05-11 02:24] hybridsong opened #49 "I can't specify the version to install a package on OPM"
➜  bin sudo ./opm get bungle/lua-resty-template=1.9
Fetching bungle/lua-resty-template = 1.9
ERROR: unexpected server response status code for URL "https://opm.openresty.org/api/pkg/fetch?account=bungle&name=lua-resty-template&op=eq&version=1.9": 504
➜  bin sudo ./opm get bungle/lua-resty-template=v1.9
Fetching bungle/lua-resty-template = v1.9
ERROR: unexpected server response status code for URL

[2017-05-11 19:23] agentzh commented on #49
@hybridsong I tried your command on my side and it works as expected:

[code]

The 504 error looks like a CDN issue. The opm.openresty.org site is using YunFan's CDN network in mainland China. We're migrating to our own CDN network soon so that we can track such issues more easily and more quickly. Thanks for the report.

[2017-05-12 08:59] #49 closed

[2017-05-14 12:16] mtembel opened #50 "IFEM install"

[2017-05-14 12:25] mtembel commented on #50
.

[2017-05-14 12:25] #50 closed

[2017-05-31 19:33] Phrozyn opened #52 ""ERROR: luajit is required but is not available according to resty: "]"
I'm having a similar problem to issue #44
I see the following installed under openresty which was installed via RPM:

usr/local/lib/pkgconfig/luajit.pc
/usr/local/openresty/luajit
/usr/local/openresty/luajit/bin
/usr/local/openresty/luajit/include
/usr/local/openresty/luajit/lib
/usr/local/openresty/luajit/share
/usr/local/openresty/luajit/bin/luajit
/usr/local/openresty/luajit/bin/luajit-2.1.0-be

[2017-05-31 20:10] agentzh commented on #52
@Phrozyn You should install the openresty-resty package at the same time. the resty-cli tool is in a separate rpm package. See

http://openresty.org/en/rpm-packages.html

[2017-05-31 20:11] agentzh commented on #52
@Phrozyn Similarly, opm is in the openresty-opm package. The default openresty package is minimal.

[2017-05-31 20:12] agentzh commented on #52
@Phrozyn Ensure you have removed  your own copied scripts those will break things.

[2017-05-31 21:22] Phrozyn commented on #52
Thanks!, I'll do this now and update on progress!

[2017-05-31 21:35] agentzh commented on #52
@Phrozyn I've just noted that the openresty-opm package does not explicitly require deps like openresty-resty and openresty-doc on the rpm level. I've just fixed. You can try

[code]

[2017-05-31 21:36] #44 closed

[2017-05-31 22:28] Phrozyn commented on #52
it's working beautifully! Thanks so much for your help :) This can be closed :)

[2017-05-31 22:28] #52 closed

[2017-06-07 11:17] akaegi opened #53 "OPM on pre-built Win32 package"
Hello,
I cannot find OPM in the pre-built Win32 package? Am I missing something, can I install it manually or is OPM not supported on Windows?

[2017-06-08 20:02] agentzh commented on #53
@akaegi I don't think it is supported on Windows yet. But you're welcome to test and contribute fixes if there's any problems. Thanks!

[2017-06-13 09:16] Tinywan commented on #44
[code]

[2017-06-13 15:48] agentzh commented on #44
@Tinywan You know that sudo may have a different PATH env than your default shell session? You can try `sudo resty -e 'print("hello")'` instead.

[2017-06-14 01:02] Tinywan commented on #44
@agentzh  thanks ,
[code]
## switch root install success
[code]

[2017-06-14 02:29] agentzh commented on #44
@Tinywan This is Linux basics. You should either change your suders file or just pass the `-E` option to the `sudo` command.

[2017-06-14 15:24] Tinywan commented on #44
@agentzh thanks ,this is OK
[code]

[2017-08-10 09:15] anjia0532 opened #54 "opm cannot install module from https://opm.openresty.org/"
**opm get**
[code]
**opm search**

[code]
[code]

[2017-08-10 09:36] anjia0532 commented on #54
sorry about this issues. It's not opm's problem. it's vmware network configure error

[2017-08-10 09:36] #54 closed

[2017-08-28 07:29] byrnedo opened #55 "Can't install package lua-resty-template"
I've tried the following:
`opm get  bungle/lua-resty-template=1.9`

[code]

[2017-08-28 08:42] bungle commented on #55
Maybe something temporary?

[code]

[2017-08-28 21:33] isage commented on #30
I, for example, use CMake. And CMake is portable. As an author, it would be a burden to me to maintain some different (opm) build system configuration alongside cmake one.

[2017-08-28 21:58] agentzh commented on #30
@isage cmake is an extra dependency that I never like.

[2017-08-29 09:27] isage commented on #30
Yes, but let's take LuaRocks, for example: i can use any build system i want. Makefiles, CMake or just describe build steps in rockspec. That way i can reuse my already existing build scenario.
If external build systems won't be supported i'd rather not support opm and, provided opm supports LuaRocks at some point, support just LuaRocks.

[2017-08-29 17:14] agentzh commented on #30
@isage The use of LuaRocks is deprecated in OpenResty. opm decides to do its own build system for C components, in a very portable way.

[2017-08-29 17:33] isage commented on #30
I've meant luarocks/ namespace support, as mentioned in TODO.
As for portability, well, opm can't be used outside of openresty, can't be used for creating deb/rpm/etc., so.
Point is, i, as a module author, wouldn't want to maintain both CMake/Makefile/Whatever build config and opm one. Or ditch first in favor of opm.

[2017-08-29 17:53] agentzh commented on #30
@isage Well, the LuaRocks libraries' config will get converted to opm's build system, at least for simple ones. That's how the compatibility will work out. Opm will never run LuaRock module's own build systems directly on  opm clients' machines.

[2017-08-29 18:22] androolloyd commented on #55
I am experiencing the same problem, I am attempting to use opm in one of my containers but I am getting a bad response on everything.

[2017-08-29 18:34] agentzh commented on #55
@byrnedo @androolloyd Will you please apply the following one line patch to your local `opm` script so that we can get more details about that error?

[code]

Please let me know the new error message with this patch applied. Thanks!

[2017-08-29 18:36] agentzh commented on #55
@byrnedo @androolloyd Sorry, I missed one other place generating this error. Please apply the following 2 line patch instead. Thanks!

[code]

[2017-08-29 18:40] androolloyd commented on #55
`ERROR: bad response status line received from server for URL "https://opm.openresty.org/api/pkg/fetch?account=bungle&name=lua-resty-template&op=&version=": HTTP/2 302 `

[2017-08-29 18:45] androolloyd commented on #55
If its any help, im building on a Debian stretch distribution

[2017-08-29 21:44] agentzh commented on #55
@androolloyd That's what I need. So it seems that the new curl versions use HTTP/2 by default.

[2017-08-29 21:46] agentzh commented on #55
@androolloyd Will you try the following patch to see if fixes your problem?

[code]

Thanks!

[2017-08-29 21:51] agentzh commented on #55
@androolloyd Sorry, the following patch should be better:

[code]

[2017-08-29 21:57] agentzh commented on #55
Patch committed to git repository.

[2017-08-29 22:07] #55 closed

[2017-08-29 22:09] membphis commented on #55
it works fine on my side ^_^

[2017-08-30 14:42] androolloyd commented on #55
does indeed fix my issues, will this be published anytime soon? or should I just manually include this version of opm for the time being.

[2017-08-30 17:53] agentzh commented on #55
@androolloyd The next OpenResty release requires quote some time to prepare. Better include the version in the git repository for the meantime.

[2017-09-08 08:38] androolloyd commented on #55
Thanks, I am just manually overwriting the opm binary with the patched version.

[2017-10-16 13:17] tpimh opened #57 "Is it possible to install lapis with opm?"
I want to install [Lapis](http://leafo.net/lapis/). Can I use `opm` for it? If yes, how do I do it?

[2017-10-16 16:35] agentzh commented on #57
@tpimh I think you should ask Lapis's authors or maintainers instead. Opm is just a platform for openresty library authors to share their work. We are not maintaining Lapis.

[2017-10-16 21:50] tpimh commented on #57
Looks like Lapis already has an open issue for this: https://github.com/leafo/lapis/issues/571
So I'm closing this one, as it's not relevant to `opm` itself.

[2017-10-16 21:50] #57 closed

[2017-10-22 01:39] yangm97 commented on #45
I’m having a very similar issue:

[code]

`.opmrc`:

[code]

[2017-10-22 18:04] agentzh commented on #45
@yangm97 OK, we've fixed this issue for now this time. Please try again. Thanks for the report! And sorry for the inconvenience.

[2017-10-22 20:23] yangm97 commented on #45
Thank you!

[2017-12-13 18:16] prashantchari opened #58 "opm get jkeys089/lua-resty-hmac fails with ERR_SSL_VERSION_OR_CIPHER_MISMATCH"
Fetching jkeys089/lua-resty-hmac
 gnutls_handshake() failed: Handshake failed
ERROR: failed to run command "curl -sS -i -A 'opm 0.0.4 (x86_64-linux-gnu-thread-multi, perl v5.22.1)' 'https://opm.openresty.org/api/pkg/fetch?account=jkeys089&name=lua-resty-hmac&op=&version='"

[2017-12-13 18:56] prashantchari commented on #58
Issue appears to be fixed now.

[2017-12-13 18:56] #58 closed

[2017-12-13 20:24] agentzh commented on #58
@prashantchari Yes, we were experiencing SSL related problems. Thanks for your report!

[2017-12-15 16:00] kalahari commented on #43
I was unable to get this to work in my CI system until I applied the fix for #56

[2017-12-18 02:34] yxw55001100 commented on #11
sudo ln -s 'pwd'/resty /usr/local/bin/resty

[2017-12-29 06:47] zoucaitou opened #59 "[proposed]Do you have plans to add the `opm install`"
Are there plans to support ## opm install

Just like node package.json file, You can install it all at once

[2017-12-30 19:21] agentzh commented on #59
@zoucaitou There's already a pull request for a similar feature pending review:

https://github.com/openresty/opm/pull/40

[2018-02-24 19:22] ncsibra opened #60 "Unable to install package with an nginx static module(opentracing)"
I have an alpine docker image which contains openresty  1.13.6.1, compiled from tarball.
I added [nginx-opentracing](https://github.com/opentracing-contrib/nginx-opentracing) with Jaeger as a static module, it works fine by itself.
Now I want to install a package with opm, but it fails, because resty cli unable to detect nginx version.
My PATH contains the openresty bin pathes, the problem is, tha

[2018-02-24 19:33] agentzh commented on #60
@ncsibra I think you should contact the author of that module instead. We know nothing about that 3rd-party module or Lua library, so we cannot really help here.

Regarding to the following error message:

Seems like you are not using opm in your OpenResty installation tree. The opm tool does not look for luajit from the PATH, but from the installation tree the opm tool itself is in, via relative

[2018-02-24 19:37] agentzh commented on #60
@ncsibra OK, I see the real cause is that your `jaeger` nginx module requires you to always configure its configuration directive, which definitely breaks the resty-cli toolchain. You should really contact that module's developer instead if you really want to enable it at all times since it is a very unreasonable requirement even in the nginx world (nginx modules are not engaged when they are not

[2018-02-24 19:37] #60 closed

[2018-02-24 19:38] agentzh commented on #60
@ncsibra I don't think it's our issue, but your `jaeger` 3rd-party nginx module's design mistake.

[2018-02-24 20:27] ncsibra commented on #60
Ok, thanks, we'll see.

[2018-04-09 10:44] hamishforbes opened #61 "Allow collaborators to upload to OPM"
At the moment I don't seem to be able to upload a package on a repo which I have push/write access.

Specifically I have push access to https://github.com/pintsized/ledge so I can push a new version to github, tag the release etc.
However when I try and upload to opm i get

[code]

Looks like this check is clientside only?
I commented it out and successfully uploaded the package but it came throug

[2018-04-09 19:09] agentzh commented on #61
@hamishforbes We use github authentication here, so if you do not have that github account's token, you cannot upload under that account's name. This security check is important. The right way is to introduce a github organization account so that all the members of that organization can upload new releases under that organization account.

[2018-04-10 08:42] hamishforbes commented on #61
It seems excessive to be forced to create an organisation just so that 2 people can push releases of a library though, especially when github provides a mechanism for another user to have full write access without an organisation.

Is the check clientside only?  It's difficult to tell exactly what happened on the server side, the entry on http://opm.openresty.org/ is under my namespace but the lin

[2018-05-10 06:48] xiaooloong commented on #45
@agentzh i hava the same issue just now

[code]

[2018-05-31 16:20] cdbattags opened #62 "How to delete/undo an incorrectly uploaded package?"
How do I go about doing this? I can't find this anywhere in documentation.

[2018-05-31 16:28] cdbattags commented on #62
Would love to get this solved because I'd like to match version numbers on LuaRocks and OPM ASAP trying to take over an abandoned repo and botched the upload.

@agentzh, any help?

[2018-05-31 17:47] agentzh commented on #62
@cdbattags Deleting an opm package is still a TODO. Pull requests are welcome for the opm repo:

https://github.com/openresty/opm

Because deleting uploaded packages is a dangerous operation, we need to delay the deletion request for at least 7 days and also send an email notification to the email address associated with the current github account used to upload those packages being deleted.

[2018-06-06 16:51] cdbattags commented on #62
@agentzh, any chance for now someone can manually delete everything I've uploaded so far?

[2018-06-06 17:32] agentzh commented on #62
What package you want us to remove from the opm index?

[2018-06-06 17:33] agentzh commented on #62
Yes we can remove it manually for you. But it has to be under your own GitHub accounts.

[2018-06-06 17:37] cdbattags commented on #62
Please remove all packages under the username `cdbattags` there should be 5 of them:

- `cdbattags/lua-resty-jwt | v0.1.14`
- `cdbattags/lua-resty-jwt | v0.1.13`
- `cdbattags/lua-resty-openidc | v1.6.0`
- `cdbattags/lua-resty-jwt | v0.1.12`
- `cdbattags/lua-resty-jwt | v0.1.11`

Thank you!

Also, moving forward might I add a PR that will remove packages if they are under your own GitHub account na

[2018-06-06 18:16] cdbattags commented on #62
Please do not remove the latest one:

`cdbattags/lua-resty-jwt | v0.2.0`

This is the most recent and what is correct!

[2018-06-06 18:50] agentzh commented on #62
@cdbattags Done.

Regarding to the removal feature of opm itself, as I said, there are 2 requirements:

1. we need to delay the deletion request for at least 7 days and also send an email notification to the email address associated with the current github account used to upload those packages being deleted.
2. the user can only delete package uploaded by himself (this also applies to packages und

[2018-07-28 12:36] thibaultcha opened #63 "Experiencing HTTP 500 errors on 'opm upload'"
Around

[2018-07-28 17:47] thibaultcha commented on #63
@agentzh Nice, thanks.

[2018-07-29 04:10] anjia0532 opened #64 "can not upload lib to opm server"
![djkhmz_vaamfddd](https://user-images.githubusercontent.com/15098916/43362885-4e6f0dbc-9328-11e8-9c5b-eb218befb44d.jpg)

[2018-07-29 04:20] #64 closed

[2018-07-29 04:20] anjia0532 commented on #64
done

[2018-11-17 00:15] #38 closed

[2018-11-26 17:06] LGMAM opened #66 "Weird install package error"
I am trying to install a given package (with a `requires=luajit` directive) with the following command

`sudo opm --install-dir=/usr/local/openresty/site get hamishforbes/lua-resty-iputils`

and I am getting this error

`ERROR: luajit is required but is not available according to resty`

I have narrowed down the issue to this line in opm script

`resty -e 'print(jit.version)'`

Executing it from a

[2018-11-28 10:02] LGMAM commented on #66
Closing issue. It seems that the problem is in the nginx clojure module. I run opm with --gdb flag (`resty --gdb -e 'print(jit.version)'`) and this is what I got

[code]

[2018-11-28 10:02] #66 closed

[2018-12-19 18:17] eulhaque opened #67 "is there a timeline for this feature "Add (limited) support for LuaRocks via the special name space luarocks, for example,""
OPM is great but luarock ecosystem has been there for lua for a long time and there are tons of good libraries that are very useful for OpenResty application development and not being able to use one package manager makes it hard to manage the application.

Is there a timeline to allow install luarocks using OPM?

[2019-01-03 04:06] stamf opened #68 "opm.openresty.org ssl error occurring"
Hello openresty team,

it seems https://opm.openresty.org is failing to complete the ssl handshake, yielding a tls alert during the server hello phase

With opm:
[code]

With a plain curl:
[code]

With openssl s_client:
[code]

[2019-01-03 05:06] stamf commented on #68
The situation seems to have just now resolved itself, closing ticket!

[2019-01-03 05:06] #68 closed

[2019-01-03 10:40] danihodovic opened #69 "SSL errors on download"
Hi,

I automatically install opm libraries when deploying OpenResty. This has a tendency to fail due to SSL errors from the upstream.

[code]

[2019-01-04 08:34] TristanPeers commented on #69
Same here - AWS EU Ireland, cannot download packages.

[2019-01-04 08:47] dndx commented on #69
Hi,

We are aware of possible issue that OPM connection is unreliable. We are working on investigating the cause and will update here as soon as more information is available.

[2019-01-04 09:05] dstockton commented on #69
Same here

[2019-02-04 01:34] agentzh commented on #68
@danihodovic Are you still having problems? Sorry for the late reply.

[2019-02-04 03:04] agentzh commented on #67
@eulhaque There's no concrete timeline for this. But we hope we can get into this one sooner rather than later :)

[2019-02-04 05:52] bitpuppet commented on #67
I'd be happy to help and take on this one (but will need some guidance).

[2019-02-04 05:53] agentzh commented on #67
@bitpuppet That's cool. Feel free to draft a proposal for us to review :)

[2019-02-24 23:19] GUI opened #70 "Newly published packages not available ("Pending")"
I just tried publishing a new OPM package, but it looks like new packages aren't being processed. All the packages since 2019-02-20 listed on https://opm.openresty.org are listed as "Pending" and are missing descriptions. I'm unable to install any of these new packages listed as pending.

When I ran the `opm upload` this was the output I received:

[code]

If I try to explicitly install that new v

[2019-02-25 07:35] agentzh commented on #70
@GUI Thanks for the report! It was indeed a bug in the md2pod.pl script in resty-cli which caused an infinite loop on empty .md files (the lua-resty-rpm package ships with an empty README.md file). Should be fine now:

http://opm.openresty.org/

Alas. lua-resty-rpm package now fails. And @toruneko needs to re-upload a new version for it.

[2019-02-25 07:35] #70 closed

[2019-02-25 08:44] toruneko commented on #70
I want to make opm like npm or yarn, which use package.json like
[code]

and use rpm(Resty Package M..) install to download the dependencies into my project.
[code]
Do you have some suggestion for rpm?
Or does opm support `--cwd install` to install dependencies from `dist.ini`?

[2019-02-25 19:24] agentzh commented on #70
@toruneko Please do not hijack unrelated issues like this one to ask new questions. Thanks for your cooperation.

Regarding to your question, yes, you just need to use `--cwd` for it.

[2019-03-29 21:14] ktalebian opened #71 "Installing dependencies from dist.ini"
I have a `dist.ini` with `requires`. How do I install all these dependencies? `opm install` expects the name of the package.

[2019-03-29 21:15] #71 closed

[2019-04-11 23:41] ktalebian opened #72 "How can I get the latest version of a package in CLI?"
Running `opm search durpina` gives

[code]
Let's say I have this package installed, and I'm just interested to know what is latest or all available versions of this package. How do I get that information via command-line?

[2019-04-12 16:44] ktalebian commented on #72
Alright found the answer: https://opm.openresty.org/api/pkg/exists?account=slact&name=durpina

[2019-04-12 17:42] ktalebian commented on #72
Opening this again, because the API is not returning the latest, but rather a version found. For example https://opm.openresty.org/api/pkg/exists?account=openresty&name=lua-resty-lrucache; 0.04 is not the latest version

[2019-04-15 17:39] ktalebian commented on #72
For now, I'm recursively using `https://opm.openresty.org/api/pkg/exists?account={}&name={}&op=gt&version={}` endpoint because this will always show one version greater than the given version.

[2019-07-24 15:50] JacksonTian opened #73 "How to skip the repo_link check?"
We have a lot packages need to upload to OPM, but I don't want create a lot repos in GitHub.

I mean we will just want put these packages in one repo.

[2019-08-01 18:20] agentzh commented on #73
@JacksonTian Will you please create a pull request for this? All the code is in this repo. Thanks!

[2019-08-22 21:55] C0nw0nk opened #74 "Adding my repo to the list"
I made the following library wanted to know if it could be added to the website.

https://github.com/C0nw0nk/Nginx-Lua-Anti-DDoS

https://opm.openresty.org/

[2019-08-23 12:18] agentzh commented on #74
Which website? I think it's already listed on the opm site.

[2019-08-25 16:22] C0nw0nk commented on #74
I can't see it on the opm website ?

I looked through this list https://opm.openresty.org/

[2019-08-25 20:49] IgorMael commented on #74
Have you followed the author workflow posted here
https://github.com/openresty/opm?

Em dom, 25 de ago de 2019 às 13:22, C0nw0nk <notifications@github.com>
escreveu:

--
Igor Mael.

[2019-11-07 19:35] distortedsignal opened #75 "OpenResty without OPM?"
I've got a relatively recent OpenResty install, and it looks like I don't have OPM along with it - is this expected?

[code]

[2019-11-07 20:18] dndx commented on #75
Hello,

Is `/usr/local/openresty/bin` in your `PATH`?

[2019-11-07 21:22] distortedsignal commented on #75
It is not, however -

[code]

[2019-11-07 22:06] distortedsignal commented on #75
I want to say I installed this with yum - would that cause this issue?

[2019-11-12 19:04] distortedsignal commented on #75
I think I found the issue - it's between the computer and the chair, and how he's not reading the documentation:

[From TFM:](https://openresty.org/en/rpm-packages.html#openresty-opm)
[code]

[2019-11-12 19:04] #75 closed

[2020-02-09 07:42] fffonion opened #76 "opm failed to index package"
Hi, it seems my last three submission to opm encounted trouble (copied from email):

[code]

Local run of `opm server-build` suceeded.

[2020-02-09 17:29] agentzh commented on #76
@fffonion It might be caused by disk shortage at that time. I just tested a simple package uploading and it was indexed successfully. Will you please try again? Please let me know if the problem still persists. Thanks!

[2020-02-10 03:35] fffonion commented on #76
Hi @agentzh, thank you for looking into this. I'm able to upload a different package but still not the package above, it failed with same error.

[2020-02-17 06:52] xiaocang commented on #76
@fffonion May be something went wrong with the server.
I just fork your repo and uploaded it successfully. Could you try it again?

[2020-02-17 07:02] fffonion commented on #76
@xiaocang I just uploaded again but still no luck. Also tried: same version with different package name and previous succeeded version (0.5.0) but with a different package name. 🤔

[2020-02-17 07:05] xiaocang commented on #76
@fffonion I'm sorry about this.
I just received the failed upload file that opm server gave me. It seems there should be something wrong with the opm server.

[2020-02-17 12:15] xiaocang commented on #76
I tried to fix the problem of the opm server: permission issues during build-server execution
I verified multiple times and it should have been fixed.

[2020-02-17 12:18] fffonion commented on #76
@xiaocang I can upload on my side as well 👍 Thank you for looking into this!

[2020-03-02 18:07] keyur9 commented on #62
@agentzh It looks like deleting an opm package is still a TODO, couldn't find in the documentation.  Is there any chance, someone could manually delete the opm package I've uploaded so far?

OPM package - `keyur9/openresty-plugin-moesif`

Any help is much appreciated. Thank you.

[2020-03-09 14:19] keyur9 opened #77 "OPM pending to index packages"
Hello,

The packages are not getting indexed and it's in pending status for over a week.

Is there any way to resolve that? Any help is much appreciated.

Thank you,

[2020-03-09 16:51] agentzh commented on #77
@keyur9 Thanks for the report. We'll look into it.

[2020-03-10 04:37] xiaocang commented on #77
@keyur9 Sorry, the opm service has failed and it is now fixed.

[2020-03-10 05:45] keyur9 commented on #77
Hello @xiaocang thank you for fixing it. I have a couple of questions:

- I see there are a few packages that are in a failed state. Is there a way to process that in case if want to access the older version at some point?
- It looks like you forked the repo `xiaocang/lua-resty-moesif` and indexed it but `Moesif/lua-resty-moesif` is still in failed status. Is there any way to index that, so I coul

[2020-03-10 05:48] agentzh commented on #77
@keyur9 That is still a TODO and not yet supported. For now it requires bumping the version number and release a new version.

[2020-03-10 05:50] keyur9 commented on #77
Thank you @agentzh. I'll bump the version and release a new version.

[2020-03-10 05:50] #77 closed

[2020-04-19 16:17] gnois opened #79 "Allow bundling non-Lua files"
I have a `stops_en.txt` text file that lists stop-words to omit when generating slug. This text file will be read once during init_by_lua.

When I do `opm build`, seems like the text file is ignored. Is it because only Lua files are allowed?

Is so, can we enable bundling non-Lua files such as .txt? Perhaps with an `include_files` key in dist.ini?

[2020-04-19 16:47] doujiang24 commented on #79
yeah, `.txt` suffix files will be ignored. I think `include_files` is a good idea, will you please contribute a PR for it?

[2020-04-19 21:14] agentzh commented on #79
I think a `MANIFEST` file similar to Perl's CPAN module is more convenient.

[2020-04-20 00:54] gnois commented on #79
I have to admit I am not familiar with Perl.  If we go down the `MANIFEST` path, there is also `MANIFEST.SKIP` as I just learned from online. Is that going to overlap `exclude_files` key in dist.ini in terms of functionality?

[2020-06-11 04:39] decadence commented on #59
So now I can't clone my project somewhere and just do `opm install` so all my dependencies install from some json file? And we have to `opm get` for every package?

[2020-06-11 04:41] agentzh commented on #59
It's still a TODO. pull requests welcome!

[2020-06-11 08:38] decadence commented on #59
@agentzh thanks. Got it.

[2020-06-12 06:32] decadence opened #80 "OPM sort packages by stars and downloads"
Hello.
It would be great if https://opm.openresty.org/ allows us to sort packages by GitHub repo stars and/or download number.

[2020-09-15 09:43] xukai-ibm opened #82 "opm install error. "openresty is required but is not available according to resty: resty 0.25""
I have installed the openresty / nginx /resty already , and added them to PATH or "ln -s ".

I  got this error message, when I try to "**opm install ....**"
------------------------------------
**opm install thibaultcha/lua-resty-mlcache**
* Fetching thibaultcha/lua-resty-mlcache
  Downloading https://opm.openresty.org/api/pkg/tarball/thibaultcha/lua-resty-mlcache-2.4.1.opm.tar.gz
  % Total    % R

[2020-09-23 07:52] agentzh commented on #82
@xukai-ibm It seems like you are not using OpenResty:

https://openresty.org/en/download.html

OpenResty is required by the opm toolchain. Nginx won't work.

[2020-09-23 07:52] #82 closed

[2020-09-25 08:26] fffonion commented on #76
Hi @xiaocang , I'm reopening this issue as it seems the same issue come back again. The error message is identical as before:

[code]

[2020-09-25 08:29] xiaocang commented on #76
Thanks for the report, I'll check the service.

[2020-09-27 04:18] xlibor commented on #76
@fffonion  It is related to the execution of the `server-build` takes a long time to exceed the explicit limit. In detail, the README.md file in this package is relatively long. After raising the upper limit, the index task passed. If you have similar problems next time, please report again.

[2020-09-28 05:33] fffonion commented on #76
@xlibor I see, thank you for looking into and fixing this!

[2020-09-28 05:33] #76 closed

[2021-03-19 20:16] jvanasco commented on #62
I believe there are 3 different features needed:

* Hide a Package Version - low danger. The package is still available by directly requesting the version, but does not show up otherwise.
* Delete a Package Version - medium danger.  The package is no longer available, even when directly requesting the version, but older/newer versions may be.
* Delete a Package - high danger.

I would very much li

[2021-03-19 20:48] agentzh commented on #62
Yeah, we'll add this feature. Like Perl's CPAN, we will do delayed deletion to avoid accidental operations (and also for security). @xlibor Please look into this.

[2021-03-19 20:48] agentzh commented on #62
@jvanasco I think we will delete the version info from the database as well.

[2021-03-19 21:01] jvanasco commented on #62
@agentzh I believe that is what Python's PyPi does.

[2021-03-19 21:13] agentzh commented on #62
BTW, we'll also look into adding support for C components (compiling to .so or .dylib files) in opm packages soon.

[2021-03-19 21:24] jvanasco opened #84 "feature request: test info and recommendations"
It would be very nice if the `opm` version info included information about test coverage:

* does an opm package have tests?
* where are the tests? (links to github-actions/travis/etc)

whether or not the tests pass is not relevant, because the quality of tests could be terrible.

it would also be nice if there were test recommendations.  it took me a lot of trial and error to get my (passing) tes

[2021-07-08 13:16] supereldar opened #89 "opm upload keep response ERROR: /root/.opmrc: bad "github_token""
i'm trying to update my project lua-resty-access
tried 3 new tokens for my supereldar github account

.opmrc:
github_account=supereldar
github_token=ghp_43242342342343242423
upload_server=https://opm.openresty.org
download_server=https://opm.openresty.org

dist.ini
name = lua-resty-access
abstract = Passwordless authentication for OpenResty - Flexible and Secure
author = Eldar "supereldar" Beibuto

[2021-07-09 18:51] rushitote commented on #89
I am having the same issue too. I even tried regenerating the token with different scopes but it gives the `bad "github_token"` error every time.

[2021-07-30 15:56] jeblackburn opened #90 "opm.openresty.org site appears to be down (TLS error)"
Our build is failing with a call to 'opm install openresty'. This is new behavior since 29 July at about 19:00 UTC

 Fetching zmartzone/lua-resty-openidc
curl: (35) error:14094410:SSL routines:ssl3_read_bytes:sslv3 alert handshake failure
ERROR: failed to run command "curl -sS -i -A 'opm 0.0.5 (x86_64-linux-gnu-thread-multi, perl v5.28.1)' 'https://opm.openresty.org/api/pkg/fetch?account=zmartzone

[2021-07-30 16:43] xiaocang commented on #90
Hi, thanks for report, we had some problems on cdn and now it is recovered.

[2021-07-30 22:44] jeblackburn commented on #90
Thanks! My build is back online.

[2021-07-30 22:44] #90 closed

[2021-09-28 11:49] aiyanbo commented on #89
Upgrade to opm 1.19.9.1

[2021-10-05 11:09] biletnikov commented on #68
<html>
<body>

* Fetching leafo/pgmoon
--
166 | curl: (60) SSL certificate problem: certificate has expired
167 | More details here: https://curl.haxx.se/docs/sslcerts.html
168 |  
169 | curl performs SSL certificate verification by default, using a "bundle"
170 | of Certificate Authority (CA) public keys (CA certs). If the default
171 | bundle file isn't adequate, you can specify an alternate fil

[2021-10-08 10:17] xiaocang commented on #68
Hi, @biletnikov, because opm.openresty.org uses the certificate issued by Let's encrypt, and the root certificate of Let's encrypt expired on September 30, see https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/, please renew ca-certificates on your system or update the base docker image then try again.

[2022-03-18 13:14] cebollia opened #91 "opm upload with github_account as an organization results in 500 error"
Attempting to upload a new package where the `github_account` is set to an organization produces a 500 error. When changed to my personal user account, the upload is successful. This was attempted using the latest `openresty/openresty:alpine-fat` image.

[code]

[code]
[code]

[2022-03-19 06:00] xlibor commented on #91
The above error should be due to the fact that the value of `github_account` you filled in .opmrc  is `revcontent`, but the actual value in GitHub is `RevContent`, which leads to a judgment error. It is suggested to fill in `RevContent` in relevant places.

[2022-03-21 00:58] xiangnanscu opened #92 "Opm search returning duplicates"
As you can see, `ledgetech/lua-resty-http` is the same
[code]

[2022-03-21 01:00] xiangnanscu opened #93 "bad searching result in https://opm.openresty.org/search?q="
ex:
[code]
get nothing but there're at least 3 packages whose name is `lua-resty-http`

[2022-03-21 07:14] zhuizhuhaomeng commented on #92
you can use `opm install ledgetech/lua-resty-http to install.`

[2022-03-21 09:40] xlibor commented on #93
The opm server was recently migrated and the above issue was caused by the pg parameters not being set properly, which has been fixed. Thanks for the feedback!

[2022-05-04 19:09] LoganDark opened #95 "Markdown parsing mistakes"
The URL portion of links `[text](url)` should trim all leading and trailing whitespace from within the parenthesis, including newlines. GitHub parses it this way, but the OPM website [does not](https://opm.openresty.org/package/LoganDark/argon2/).

I am referring to wrapping long URLs like this:

[code]

I use that often in GitHub READMEs.

Additionally, bold inline code:

[code]

is not parsed co

[2022-05-04 19:12] LoganDark opened #96 "Unable to typo-fix published package"
I made a horrible error in the description of my recently-published package [here](https://opm.openresty.org/package/LoganDark/argon2/):

![image](https://user-images.githubusercontent.com/4723091/166808527-18fa9f88-d0f5-4d1f-a371-07649b8c2adf.png)

Obviously, the stupider the mistake is, the harder you try to correct it, and this one is just causing insane amounts of stress when it should not, es

[2022-05-05 09:43] zhuizhuhaomeng commented on #95
@xlibor would you have a look at this when you have time?

[2022-05-05 13:30] LoganDark commented on #96
I had to justify it by lumping in a bunch of unrelated optimizations. I still hate that I have to do that to correct a typo **and that 1.0.0 will always have the typo**.

[2022-06-10 09:59] sidgujrathi opened #99 "Not able to get any package due to SSL error"
I am getting this error: ```curl: (60) SSL certificate problem: unable to get local issuer certificate```  while trying to get any package from OPM

[2022-06-24 16:11] xlibor commented on #99
It is recommended to refer to this article: [https://kb.vmware.com/s/article/78471](https://kb.vmware.com/s/article/78471)